# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
          
      - name: Fetch releases from th-rating
        id: get_latest_release
        uses: octokit/request-action@v2.x
        with:
          route: GET /repos/{owner}/{repo}/releases/latest
          owner: thucke
          repo: TYPO3.ext.th_rating
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}      

      - name: Print fetched response
        run: |
          echo "${{ fromJson(steps.get_latest_release.outputs.data).body }}"

      - name: Store fetched response
        id: set-body
        run: |
          echo ::set-output name=body::"${{ fromJson(steps.get_latest_release.outputs.data).body }}"

      - name: Print Body variable
        run: |
          echo $body
        env:
          body: ${{ steps.set-body.outputs.body}}
