# This is a basic workflow that is manually triggered

name: Manual workflow

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  greet:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Test regexp
        uses: actions-ecosystem/action-regex-match@v2
        id: tag-number
        with:
          text: refs/tags/0.4
          regex: '(.*)\/(.*)$'
          
      - name: Print tag number
        if: ${{ steps.tag-number.outputs.group1 != '' }}
        run: |
          echo ${{ steps.tag-number.outputs.group1 }}
          
