# This is a basic workflow that is manually triggered

name: Manual workflow

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  greet:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    services:
      # mysql-service Label used to access the service container
      mysql:
        # Docker Hub image (also with version)
        image: mysql:5.7
        env:
          ## Accessing to Github secrets, where you can store your configuration
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: t3func
        ## map the "external" 33306 port with the "internal" 3306
        ports:
          - 33306:3306
        # Set health checks to wait until mysql database has started (it takes some seconds to start)
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Verify MySQL connection from host
        run: mysql --host 127.0.0.1 -port 33306 -uroot -ppassword -e "SHOW DATABASES"
        
      - name: Checkout repository
        uses: actions/checkout@v2
        
      - name: Get version
        id: get-version
        run: echo ::set-output name=version::0.4.2
          
      - name: Print tag number
        run: |
          echo ${{ steps.get-version.outputs.version }}
          
      - name: Print repository ${{ github.event.repository.name }}
        run: |
          echo ${{ github.event.repository.name }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4
          extensions: intl, mbstring, json, zip, curl
